beautifulsoup4==4.6.0
brevity==0.2.14
Flask==0.12.2
Flask-Session==0.3.1
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
flake8==3.3.0
html5lib==0.999999999
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
mf2py==1.0.5
psycopg2==2.7.1
PyJWT==1.5.0
redis==2.10.5
requests==2.14.2
requests-oauthlib==0.8.0
six==1.10.0
SQLAlchemy==1.1.10
uWSGI==2.0.15
Werkzeug==0.12.2
wheel==0.29.0
WTForms==2.1
pytest==3.1.0
pytest-mock==1.6.0
