beautifulsoup4==4.4.1
brevity==0.2.7
Flask==0.10.1
Flask-Session==0.2.3
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
html5lib==0.9999999
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mf2py==1.0.4
psycopg2==2.6.1
PyJWT==1.4.0
redis==2.10.5
requests==2.9.1
requests-oauthlib==0.6.1
six==1.10.0
SQLAlchemy==1.0.12
uWSGI==2.0.12
Werkzeug==0.11.6
wheel==0.29.0
WTForms==2.1
