<pre>
&lt;!-- Micropub via Feverdream --&gt;
&lt;link rel="authorization_endpoint" href="https://indieauth.com/auth"&gt;
&lt;link rel="token_endpoint" href="https://tokens.indieauth.com/token"&gt;
&lt;link rel="micropub" href="{{ url_for('micropub.micropub_endpoint', _external=True) }}"&gt;
&lt;!-- End Micropub configuration --&gt;
</pre>
