{% extends "micropub.jinja2" %}

{% block instructions %}
  <p>

    <a target="_blank" href="{{ site.edit_template_url()}}">Click here to edit your site's template</a>, click <em>Edit HTML</em>, and add the following lines inside the <code>&lt;head&gt;</code> tag:
  </p>

{% include "_micropub_config.jinja2" %}

  <p>
    Click <em>Update Preview</em>; then click <em>Save</em>.
  </p>

{% endblock instructions %}
