{% extends "base.jinja2" %}
{% block body %}

  <div class="container">

    <p class="lead">
      Use <a href="https://indiewebcamp.com/Micropub">Micropub</a>
      clients like <a href="https://quill.p3k.io">Quill</a> to post to
      hosted blogs on Wordpress.com, Tumblr, or Blogger.
    </p>
    <p>
      Under the covers, Micropub clients post to silo.pub, and
      silo.pub proxies that request to your hosted blog's API. To
      get started, you'll need to give silo.pub post permission on
      your blog (Don't worry we won't post anything without your
      permission). Then we'll help you configure your blog for micropub.
    </p>

    <div class="row">
      <form method="post" name="tumblr-start" action="{{ url_for('tumblr.authorize') }}" class="signup">
        <input alt="Sign in with Tumblr"
               src="{{ url_for('static', filename='tumblr.png') }}" type="image" style="" />
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      </form>

      <form method="post" name="wordpress-start" action="{{ url_for('wordpress.authorize') }}" class="signup">
        <input alt="Sign in with WordPress.com"
               src="{{ url_for('static', filename='wordpress_com.png') }}" type="image">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      </form>

      <form method="post" name="blogger-start" action="{{ url_for('blogger.authorize') }}" class="signup">
        <input alt="Sign in with Blogger"
               src="{{ url_for('static', filename='blogger.png') }}" type="image">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      </form>

      </form>

      <form method="post" name="twitter-start" action="{{ url_for('twitter.authorize') }}" class="signup">
        <input alt="Sign in with Twitter"
               src="{{ url_for('static', filename='twitter.png') }}" type="image">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      </form>

      <form method="post" name="facebook-start" action="{{ url_for('facebook.authorize') }}" class="signup">
        <input alt="Sign in with Facebook"
               src="{{ url_for('static', filename='facebook.png') }}" type="image">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      </form>

    </div>


  </div><!-- .container -->

{% endblock body %}
