{% extends "micropub.jinja2" %}

{% block instructions %}
  <p>
    Now just use this URL when signing in to Micropub clients:
  </p>
  <p>
    <input class="form-control" type="text" value="{{ url_for('flickr.proxy_homepage', nsid=site.account.user_id, _external=True) | replace('%40', '@') }}" readonly />
  </p>
  <p>
    Click <a href="{{ url_for('views.about') }}#proxy">for info about proxy URLs</a>.
  </p>
{% endblock %}
