{% extends "micropub.jinja2" %}

{% block instructions %}
  <p>
    <a target="_blank" href="{{ site.edit_template_url()}}">Click here to edit your site's template</a>, click <em>Edit HTML</em>, and add the following lines inside the <code>&lt;head&gt;</code> tag:
  </p>

<pre>
&lt;!-- Micropub via silo.pub --&gt;
&lt;link rel="authorization_endpoint" href="{{ url_for('micropub.indieauth', _external=True) }}"&gt;
&lt;link rel="token_endpoint" href="{{ url_for('micropub.token_endpoint', _external=True) }}"&gt;
&lt;link rel="micropub" href="{{ url_for('micropub.micropub_endpoint', _external=True) }}"&gt;
&lt;!-- End Micropub configuration --&gt;
</pre>

  <p>
    Click <em>Update Preview</em>; then click <em>Save</em>.
  </p>

{% endblock instructions %}
