{% extends "base.jinja2" %}
{% block body %}

<div class="container">
  <p>
    Awesome, you've authorized SiloPub to publish to
    {{site.domain}} (Don't worry we won't do anything without your
    permission). We're halfway there. Now let's convince a Micropub
    client to post to SiloPub.
  </p>


</div>



{% endblock body %}
