{% extends "base.jinja2" %}
{% block body %}

<div class="container">
  <p>
    Awesome, you've authorized silo.pub to publish to
    {{site.domain}} (Don't worry we won't do anything without your
    permission). We're halfway there. Now let's convince a Micropub
    client to post to silo.pub.
  </p>

  <p>
    Next we'll add some links to your site's HTML to tell Micropub clients
    how to publish to silo.pub.
  </p>

  <a href="{{ url_for('.micropub', service=site.service, domain=site.domain) }}" class="btn btn-primary">Next (Setup Micropub)</a>

</div>

{% endblock body %}
